.box {
    background-color: darkred;
    color: gold;
    width: 150px;
    height: 150px;
    margin: 16px;
    text-align: center;
    font-size: 2rem;
}
  
.box-of-boxes {
    display: flex;
}

.box-one {
    height: 300px;
}

.box-two {
    height: 300px;
}

.box-three {
    height: 300px;
}

.box-four {
    width:100px;
    height: 300px;
}

@media only screen and (max-width: 720px){
    .box-two {
        background-color: blue;
    }
    .box-three {
        background-color: green;
    }
}

@media only screen and (min-width: 1100px) {
    .box-one {
        width: 200px;
    }
    .box-three {
        height:400px;
    }
}

